.form-label{
    color: #242731;
    font-weight: 600;
    font-size: 1rem;
}
.form-input{
    margin-top: 0.5rem;
    display: flex;
    border: 1px solid #B1B5C3;
    border-radius: 10px;
    width: 90%;
    padding: 4%;
}