.nav-bar-container{
    padding: 0.5rem 4rem;
    background-color: white;
}
.home-main-container{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    background-color:rgb(244, 246, 247)
}
.home-project-menu-container{
    display: flex;
    width: 90%;
    margin: auto 5%;
}
.home-project-detail-container{
    margin: auto 5%;
}
.create-new-project-container{
    width: 100%;
    display: grid;
    place-items: center;
    position: absolute;
}
.home-container {
    background-color:rgb(244, 246, 247)
}

.brightness{
    filter: brightness(50%);
    height: 75rem;
}